<div class="footer">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-4 col-md-5">
                <div class="footer-left">
                    <div class="footer-left-inner">
                        <div class="footer-left-logo">
                            <a href="/web">
                                <img src="images/logo.png" height="50" alt="LOBI RDC">
                            </a>
                        </div>
                        <p class="footer-left-text">LOBI est un programme d'investisement et de guarantie de l'avenir de la jeunesse Congolaise.</p>
                        <ul class="footer-left-list-icon">
                            <li><i class="fas fa-map-marker-alt"></i> <span> C/Kinshasa, Av/rwakading, 166.Ref/enface du camp lufungula,
                                 <br> (à côté de la station formula). Bâtiment ex Molière</span></li>
                            <li><i class="fas fa-envelope"></i> <span> contact@lobi-es.com</span> </li>
                            <li><i class="fas fa-phone"></i><span>+243 850 519 990</span> </li>
                            <li><i class="fas fa-phone"></i><span>+243 992 850 512</span> </li>
                        </ul>
                        <ul class="social-icon d-flex flex-start">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="footer-right">
                    <div class="footer-top">
                        <!-- Heading Start -->
                        <div class="heading-one">
                            <span class="heading-one-subtitle">Pensons avenir</span>
                            <h2 class="heading-one-title">Commençons</h2>
                        </div>
                        <!-- Heading End -->
                        <a href="/web/contact" class="btn-style-three"><span>Contactez-nous</span></a>
                    </div>
                    <div class="footer-bottom">
                        <div class="footer-widget">
                            <h5 class="footer-widget-title">Liens</h5>
                            <ul class="footer-widget-list">
                                <li><a href="/web">Acceuil</a></li>
                                <li><a href="/web/about">About</a></li>
                                <li><a href="/web/Contact">Contact US</a></li> 
                            </ul>
                        </div>
                        <div class="footer-widget">
                            <h5 class="footer-widget-title">Besoin d'aide</h5>
                            <ul class="footer-widget-list">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Evennements</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="footer-widget-subscription">
                            <h5 class="footer-widget-title">Abonnez-vous à notre newsletter</h5>
                            <!-- <p class="footer-widget-text">Fectetur adipisicing elit, sed do eius mod tempor incididunt </p> -->
                            <form action="#" class="footer-widget-form">
                                <input type="text" placeholder="Votre email ici">
                                <button><img src="images/icon/icon-5.png" alt="IconImage"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 position-relative">
                    <div class="footer-copyright-inner"> 
                        <p class="order-md-1 order-2"> Copyright &copy;<script>document.write(new Date().getFullYear());</script> | <a href="https://eventdrc.tech" target="_blank">EventDRC Technology</a></p>
                        <ul class="footer-bootm-list order-md-2 order-1">
                            <li><a href="contact.html">Terms &amp; Condition</a></li>
                            <li><a href="contact.html">Privecy Policy</a></li>
                            <li><a href="contact.html">Legal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>