{% extends 'layouts/base.html' %}


{% block content %}

    <!-- Breadcrumb Section Start -->
    <div class="section-padding breadcrumb" data-bg-image="images/breadcrumb/breadcrumb-8.png">
        <div class="container">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title-two">How to Improve Your <br> Marketing</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li><span>Projects</span></li>
                        </ul>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Project Details images Start -->
    <div class="project-details-images section-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                    <img src="images/projects/project-large-1.png" alt="ProjectImage">
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".25s">
                    <div class="group-image">
                        <img src="images/projects/project-large-2.png" alt="ProjectImage">
                        <img src="images/projects/project-large-3.png" alt="ProjectImage">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Details images End -->

    <!-- Project Details Content Start -->
    <div class="project-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                    <h2 class="project-details-title">How to improve your marketing</h2>
                    <p>Kimod tempoer incididunt onomes sundo ritoma amar Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna aliqu magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
                    <p>Minisi ut aliquip ex ea commodo conseq Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu</p>
                    <p>olore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolo dque ipsa quae ab illo inventore olore magnam aliquam quaerat voluptatem.</p>
                    <div class="project-details-social">
                        <span class="label">Share</span>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                    <ul class="project-details-sidebar">
                        <li>
                            <span class="title">Client Name</span>
                            <p>Hello Theme Club</p>
                        </li>
                        <li>
                            <span class="title">Duration</span>
                            <p>2 months</p>
                        </li>
                        <li>
                            <span class="title">Category</span>
                            <p>Web development</p>
                        </li>
                        <li>
                            <span class="title">Project Lead</span>
                            <p>Juwel Khan</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Details Content End -->

    <!-- More Project Section Start -->
    <div class="more-project section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="more-project-title">You might also like</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n20 parent-gallery">
                <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/1.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/1.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/2.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/2.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".3s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/3.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/3.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
            </div>
        </div>
    </div>
    <!-- More Project Section End -->

    
{% endblock content %}
    