{% extends 'layouts/base.html' %}

{% block content %}
     <!-- Breadcrumb Section Start -->
     <div class="section-padding breadcrumb" data-bg-image="images/breadcrumb/breadcrumb-5.png">
        <div class="container">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">Case Studies</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li><span>News</span></li>
                        </ul>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Project Masonry Section Start -->
    <div class="section-padding blog-grid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-menu-style blog-menu-active isotope-btn-add-active mt-0 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                        <button class="active btn-blog" data-filter="*">All</button>
                        <button class="btn-blog" data-filter=".design">Design</button>
                        <button class="btn-blog" data-filter=".development">Development</button>
                        <button class="btn-blog" data-filter=".news">News</button>
                        <button class="btn-blog" data-filter=".tutorials">Tutorials</button>
                        <button class="btn-blog" data-filter=".resource">Resource</button>
                    </div>
                </div>
            </div>
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 grid parent-gallery">
                <div class="col mb-30 grid-item design wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/1.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/1.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-30 grid-item development wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/2.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/2.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-30 grid-item news wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".3s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/3.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/3.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-30 grid-item development wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/4.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/4.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-30 grid-item design wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/5.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/5.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-30 grid-item tutorials wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".3s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/6.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/6.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-30 grid-item news wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/7.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/7.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-30 grid-item resource wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/8.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/8.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
                <div class="col mb-30 grid-item tutorials wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".3s">
                    <!-- Single Project Start -->
                    <div class="single-project">
                        <a class="thumbnail" href="project-details.html">
                            <img src="images/projects/all/9.png" alt="ProjectImage">
                        </a>
                        <div class="content">
                            <span class="subtitle">Web Design</span>
                            <h3 class="title">
                                <a href="project-details.html">When the musics over turn off the light</a>
                            </h3>
                        </div>
                        <div class="lightbox">
                            <a class="item" href="images/projects/all/9.png"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <!-- Single Project End -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <div class="d-flex justify-content-center pt-lg-2">
                        <nav class="pagination-wrapper">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#/">1</a></li>
                                <li class="page-item"><a class="page-link" href="#/">2</a></li>
                                <li class="page-item"><a class="page-link" href="#/">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#/" aria-label="Next">
                                        <span aria-hidden="true"><i class="fas fa-long-arrow-alt-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Project Masonry Section End -->
{% endblock content %}
    