{% extends 'layouts/base.html' %}


{% block content %} 

<!-- Slider Section start -->
<div class="slider-one">

    <div class="sliderbg-1" data-bg-color="#322fb3" data-bg-image="images/slider/sliderbg-one.png">
        <div class="shape-1 shape">
            <img src="images/slider/sliderone-shape/shape1.png" alt="Shape">
        </div>
        <div class="shape-2 shape">
            <img src="images/slider/sliderone-shape/shape2.png" alt="Shape">
        </div>
        <div class="shape-3 shape">
            <img src="images/slider/sliderone-shape/shape3.png" alt="Shape">
        </div>
        <div class="shape-4 shape">
            <img src="images/slider/sliderone-shape/shape4.png" alt="Shape">
        </div>
        <div class="shape-5 shape">
            <img src="images/slider/sliderone-shape/shape5.png" alt="Shape">
        </div>
        <div class="shape-6 shape">
            <img src="images/slider/sliderone-shape/shape6.png" alt="Shape">
        </div>
        <div class="shape-7 shape">
            <img src="images/slider/sliderone-shape/shape7.png" alt="Shape">
        </div>
        <div class="shape-8 shape">
            <img src="images/slider/sliderone-shape/shape8.png" alt="Shape">
        </div>
        <div class="shape-9 shape">
            <img src="images/slider/sliderone-shape/shape9.png" alt="Shape">
        </div>
        <div class="shape-10 shape">
            <img src="images/slider/sliderone-shape/shape10.png" alt="Shape">
        </div>
        <div class="shape-11 shape">
            <img src="images/slider/sliderone-shape/shape11.png" alt="Shape">
        </div>
        <ul class="sliderone-social">
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
    <div class="custom-container">
        <div class="swiper sliderone animation-style-01">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <!-- Single Slider Start -->
                    <div class="sliderone-slingle">
                        <div class="slider-content-wrapper">
                            <div class="sliderone-content">

                                <!-- Slider Content Start -->
                                <div class="slider-content">
                                    <span class="subtitle">Pensons avenir</span>
                                    <h2 class="title">Mon avenir j'y pense, j'y crois & j'y investis</h2>
                                    <a href="/about" class="btn-style-two">En savoir plus</a>
                                    <div class="call">
                                        <span>appelle-nous</span>
                                        <a href="tel:+880123456789">+243 850 519 990</a>
                                    </div>
                                </div>
                                <!-- Slider Content End -->

                                <!-- Slider Image Start -->
                                <div class="slider-image">
                                    <div class="slider-image-one">
                                        <img src="images/slider/slider1-1.png" alt="Slider Image">
                                    </div>
                                </div>
                                <!-- Slider Image End -->

                            </div>
                        </div>
                    </div>
                    <!-- Single Slider End -->
                </div>

                <div class="swiper-slide">
                    <!-- Single Slider Start -->
                    <div class="sliderone-slingle">
                        <div class="slider-content-wrapper">
                            <div class="sliderone-content">

                                <!-- Slider Content Start -->
                                <div class="slider-content">
                                    <span class="subtitle">Pensons avenir</span>
                                    <h2 class="title">Mon avenir j'y pense, j'y crois & j'y investis</h2>
                                    <a href="/about" class="btn-style-two">En savoir plus</a>
                                    <div class="call">
                                        <span>appelle-nous</span>
                                        <a href="tel:+880123456789">+243 850 519 990</a>
                                    </div>
                                </div>
                                <!-- Slider Content End -->

                                <!-- Slider Image Start -->
                                <div class="slider-image">
                                    <div class="slider-image-one">
                                        <img src="images/slider/slider1-2.png" alt="Slider Image">
                                    </div>
                                </div>
                                <!-- Slider Image End -->

                            </div>
                        </div>
                    </div>
                    <!-- Single Slider End -->
                </div>

                <div class="swiper-slide">
                    <!-- Single Slider Start -->
                    <div class="sliderone-slingle">
                        <div class="slider-content-wrapper">
                            <div class="sliderone-content">

                                <!-- Slider Content Start -->
                                <div class="slider-content">
                                    <span class="subtitle">Pensons avenir</span>
                                    <h2 class="title">Mon avenir j'y pense, j'y crois & j'y investis</h2>
                                    <a href="/about" class="btn-style-two">En savoir plus</a>
                                    <div class="call">
                                        <span>appelle-nous</span>
                                        <a href="tel:+880123456789">+243 850 519 990</a>
                                    </div>
                                </div>
                                <!-- Slider Content End -->

                                <!-- Slider Image Start -->
                                <div class="slider-image">
                                    <div class="slider-image-one">
                                        <img src="images/slider/slider1-3.png" alt="Slider Image">
                                    </div>
                                </div>
                                <!-- Slider Image End -->

                            </div>
                        </div>
                    </div>
                    <!-- Single Slider End -->
                </div>

            </div>

            <!-- Swiper Pagination -->
            <div class="swiper-pagination sliderone-pagination"></div>

            <!-- Swiper Navigation -->
            <div class="custom-container button-container d-none d-lg-flex">
                <div class="container-fluid">
                    <div class="swiper-button">
                        <div class="swiper-button-prev">
                            <div class="prev-arrow">
                                <img class="prev-arrow-1" src="images/slider/arrow-1.png" alt="">
                                <img class="prev-arrow-2" src="images/slider/arrow-2.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next">
                            <div class="next-arrow">
                                <img class="next-arrow-1" src="images/slider/arrow-1.png" alt="">
                                <img class="next-arrow-2" src="images/slider/arrow-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Slider Section End -->

    <!-- Strategy Section start -->
    <div class="section-padding strategy">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <!-- Heading Start -->
                    <div class="heading-one text-center">
                        <span class="heading-one-subtitle">Pensons avenir</span>
                        <h2 class="heading-one-title">Nos objectifs</h2>
                    </div>
                    <!-- Heading End -->
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-n30">

                <div class="col mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <!-- Single Strategy Start -->
                    <div class="strategy-single">

                        <!-- Strategy Icon Start -->
                        <div class="strategy-icon">
                            <span></span>
                            <img src="images/icon/icon-1.png" alt="Icon">
                        </div>
                        <!-- Strategy Icon End -->

                        <!-- Strategy content Start -->
                        <div class="strategy-content">
                            <h5 class="title">Orientation des jeunes</h5>
                            <p>Orienter les jeunes vers les secteurs et les méthodes d'investisements
                                rentables et sécurisés.</p> 
                        </div>
                        <!-- Strategy content End -->

                    </div>
                    <!-- Single Strategy End -->
                </div>

                <div class="col mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <!-- Single Strategy Start -->
                    <div class="strategy-single">

                        <!-- Strategy Icon Start -->
                        <div class="strategy-icon">
                            <span></span>
                            <img src="images/icon/icon-2.png" alt="Icon">
                        </div>
                        <!-- Strategy Icon End -->

                        <!-- Strategy content Start -->
                        <div class="strategy-content">
                            <h5 class="title">Accompagner les jeunes</h5>
                            <p>Initier, former, accompagner nos clients(jeunes) pour un entrepreneuriat de croissance
                                en République Démocratique du Congo.                            </p>
                        </div>
                        <!-- Strategy content End -->

                    </div>
                    <!-- Single Strategy End -->
                </div>

                <div class="col mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <!-- Single Strategy Start -->
                    <div class="strategy-single">

                        <!-- Strategy Icon Start -->
                        <div class="strategy-icon">
                            <span></span>
                            <img src="images/icon/icon-3.png" alt="Icon">
                        </div>
                        <!-- Strategy Icon End -->

                        <!-- Strategy content Start -->
                        <div class="strategy-content">
                            <h5 class="title">Accès aux crédits</h5>
                            <p>Faciliter aux jeunes l'accès aux credits bancaires.</p>
                        </div>
                        <!-- Strategy content End -->

                    </div>
                    <!-- Single Strategy End -->
                </div>

                <div class="col mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <!-- Single Strategy Start -->
                    <div class="strategy-single">

                        <!-- Strategy Icon Start -->
                        <div class="strategy-icon">
                            <span></span>
                            <img src="images/icon/icon-2.png" alt="Icon">
                        </div>
                        <!-- Strategy Icon End -->

                        <!-- Strategy content Start -->
                        <div class="strategy-content">
                            <h5 class="title">Fond de garantie privé </h5>
                            <p>Initier la mise en place d'un fond de garantie privé. </p>
                        </div>
                        <!-- Strategy content End -->

                    </div>
                    <!-- Single Strategy End -->
                </div>

                <div class="col mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <!-- Single Strategy Start -->
                    <div class="strategy-single">

                        <!-- Strategy Icon Start -->
                        <div class="strategy-icon">
                            <span></span>
                            <img src="images/icon/icon-1.png" alt="Icon">
                        </div>
                        <!-- Strategy Icon End -->

                        <!-- Strategy content Start -->
                        <div class="strategy-content">
                            <h5 class="title">Voyage d'études</h5>
                            <p>Faciliter le voyage d'études à l'étranger pour les jeunes.
                                Et la mise en place des bourses d'études.
                            </p>
                        </div>
                        <!-- Strategy content End -->

                    </div>
                    <!-- Single Strategy End -->
                </div> 

                <div class="col mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <!-- Single Strategy Start -->
                    <div class="strategy-single">

                        <!-- Strategy Icon Start -->
                        <div class="strategy-icon">
                            <span></span>
                            <img src="images/icon/icon-3.png" alt="Icon">
                        </div>
                        <!-- Strategy Icon End -->

                        <!-- Strategy content Start -->
                        <div class="strategy-content">
                            <h5 class="title">Impulser la création des PME</h5>
                            <p>Impulser la création d'au moins 20.000 petites et moyennes 
                                entreprises à forts potentiels des croissances après 
                                chaque 3 à 6 ans et interioriser le civisme fiscal 
                                dans le chef des entrepreneurs congolais.
                            </p>
                        </div>
                        <!-- Strategy content End -->

                    </div>
                    <!-- Single Strategy End -->
                </div>

            </div>
        </div>
        <div class="strategy-shape shape-1">
            <img src="images/shape/shape-1.png" alt="Shape">
        </div>
        <div class="strategy-shape shape-2">
            <img src="images/shape/shape-2.png" alt="Shape">
        </div>
        <div class="strategy-shape shape-3">
            <img src="images/shape/shape-3.png" alt="Shape">
        </div>
        <div class="strategy-shape shape-4">
            <img src="images/shape/shape-4.png" alt="Shape">
        </div>
        <div class="strategy-shape shape-5">
            <img src="images/shape/shape-5.png" alt="Shape">
        </div>

        <h2 class="rotate-title rotate-left d-none d-xxl-block">LOBI</h2>
    </div>
    <!-- Strategy Section end -->
 

    <!-- Tab Content Start -->
    <div class="about-tab-content">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="tab-one">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                            <!-- About Tab images Start -->
                            <div class="about-tab-image">
                                <div class="shape shape-1">
                                    <img src="images/shape/shape-6.png" alt="Shape">
                                </div>
                                <div class="shape shape-2">
                                    <img src="images/shape/shape-7.png" alt="Shape">
                                </div>
                                <div class="about-tab-image-one js-tilt">
                                    <img src="images/about/about-1.png" alt="AboutImage">
                                </div>
                                <div class="about-tab-image-three js-tilt">
                                    <img src="images/about/about-3.png" alt="AboutImage">
                                </div>
                                <div class="about-tab-image-two js-tilt">
                                    <img src="images/about/about-2.png" alt="AboutImage">
                                </div>
                            </div>
                            <!-- About Tab images End -->
                        </div>
                        <div class="col-lg-6 align-self-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">

                            <!-- About Tab Content Start -->
                            <div class="heading-one">
                                <span class="heading-one-subtitle">Pensons avenir</span>
                                <h2 class="heading-one-title">Qui sommes-nous</h2>
                                <p>Nous sommes une entreprise specialisee dans l'innovation et l'accompagnement
                                    des Petites et Moyennes Entreprises en Republique Demoncratique du Congo c'est-a-dire 
                                    nous leurs apportons des solutions de developpement dans le but de soigner
                                    leur images, ameliorer un produit ou developper un nouveau produit afin d'accroitre 
                                    leur chiffre d'affaire.</p> 
                                <a href="/web/about" class="btn-style-one"><span>En savoir plus</span></a>
                            </div>
                            <!-- About Tab Content End -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="tab-two">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- About Tab images Start -->
                            <div class="about-tab-image">
                                <div class="shape shape-1">
                                    <img src="images/shape/shape-6.png" alt="Shape">
                                </div>
                                <div class="shape shape-2">
                                    <img src="images/shape/shape-7.png" alt="Shape">
                                </div>
                                <div class="about-tab-image-one js-tilt">
                                    <img src="images/about/about-1.png" alt="AboutImage">
                                </div>
                                <div class="about-tab-image-three js-tilt">
                                    <img src="images/about/about-3.png" alt="AboutImage">
                                </div>
                                <div class="about-tab-image-two js-tilt">
                                    <img src="images/about/about-2.png" alt="AboutImage">
                                </div>
                            </div>
                            <!-- About Tab images End -->
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <!-- About Tab Content Start -->
                            <div class="heading-one">
                                <span class="heading-one-subtitle">Design Matters</span>
                                <h2 class="heading-one-title">Rapid Prototype and Development</h2>
                                <p>Kimod tempoer incididunt onomes sundo ritoma amar Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna aliqua.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                <a href="about.html" class="btn-style-one"><span>Learn more</span></a>
                            </div>
                            <!-- About Tab Content End -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="tab-three">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- About Tab images Start -->
                            <div class="about-tab-image">
                                <div class="shape shape-1">
                                    <img src="images/shape/shape-6.png" alt="Shape">
                                </div>
                                <div class="shape shape-2">
                                    <img src="images/shape/shape-7.png" alt="Shape">
                                </div>
                                <div class="about-tab-image-one js-tilt">
                                    <img src="images/about/about-1.png" alt="AboutImage">
                                </div>
                                <div class="about-tab-image-three js-tilt">
                                    <img src="images/about/about-3.png" alt="AboutImage">
                                </div>
                                <div class="about-tab-image-two js-tilt">
                                    <img src="images/about/about-2.png" alt="AboutImage">
                                </div>
                            </div>
                            <!-- About Tab images End -->
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <!-- About Tab Content Start -->
                            <div class="heading-one">
                                <span class="heading-one-subtitle">Design Matters</span>
                                <h2 class="heading-one-title">Rapid Prototype and Development</h2>
                                <p>Kimod tempoer incididunt onomes sundo ritoma amar Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna aliqua.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                <a href="about.html" class="btn-style-one"><span>Learn more</span></a>
                            </div>
                            <!-- About Tab Content End -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape shape-1">
                <img src="images/shape/shape-5.png" alt="Shape">
            </div>
            <div class="shape shape-2">
                <img src="images/shape/shape-7.png" alt="Shape">
            </div>
            <div class="shape shape-3">
                <img src="images/shape/dot-1.png" alt="Shape">
            </div>
        </div>
    </div>
    <!-- Tab Content End -->

    <!-- Progress Section Start -->
    <div class="section-padding progress-section pb-0">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-9 order-2 order-lg-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <div class="progress-section-content">
                        <!-- Heading Start -->
                        <div class="heading-one">
                            <span class="heading-one-subtitle">Our Features</span>
                            <h2 class="heading-one-title">Your Deserve the Best</h2>
                            <p class="">Wipsor thesit amet, consectetur adipisicing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna almusic over turnn of theiqua. </p>
                        </div>
                        <!-- Heading End -->
                        <div class="row">
                            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".1">
                                <div class="radial-progress-single">
                                    <div class="radial-progress" data-percent="89" data-bar-color="#ffffff">
                                        <div class="circle-text">
                                            <span class="count">89%</span>
                                        </div>
                                    </div>
                                    <div class="circle-info">
                                        <h4 class="title">Creativity</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay=".2">
                                <div class="radial-progress-single">
                                    <div class="radial-progress" data-percent="62" data-bar-color="#ffffff">
                                        <div class="circle-text">
                                            <span class="count">62%</span>
                                        </div>
                                    </div>
                                    <div class="circle-info">
                                        <h4 class="title">Dedication</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="0.7s" data-wow-delay=".3">
                                <div class="radial-progress-single">
                                    <div class="radial-progress" data-percent="76" data-bar-color="#ffffff">
                                        <div class="circle-text">
                                            <span class="count">76%</span>
                                        </div>
                                    </div>
                                    <div class="circle-info">
                                        <h4 class="title">Smart Work</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-1 order-lg-2 custom-margin">
                    <div class="progress-image">
                        <img src="images/progress/progress-image.png" alt="progress">
                    </div>
                </div>
            </div>
        </div>

        <div class="shape shape-1">
            <img src="images/shape/shape-2.png" alt="Shape">
        </div>
        <div class="shape shape-2">
            <img src="images/shape/shape-7.png" alt="Shape">
        </div>
        <div class="shape shape-3">
            <img src="images/shape/shape-8.png" alt="Shape">
        </div>
    </div>
    <!-- Progress Section End -->
 
    <!-- Brand Section Start -->
    <div class="brand-three">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <div class="brand-slider brand-style swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!-- Single Brand Start -->
                                <a class="brand-after" href="#"><img src="images/brand/1.png" alt="Brand-Image"></a>
                                <a class="brand-before" href="#"><img src="images/brand/1-1.png" alt="Brand-Image"></a>
                                <!-- Single Brand End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Single Brand Start -->
                                <a class="brand-after" href="#"><img src="images/brand/2.png" alt="Brand-Image"></a>
                                <a class="brand-before" href="#"><img src="images/brand/2-1.png" alt="Brand-Image"></a>
                                <!-- Single Brand End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Single Brand Start -->
                                <a class="brand-after" href="#"><img src="images/brand/3.png" alt="Brand-Image"></a>
                                <a class="brand-before" href="#"><img src="images/brand/3-1.png" alt="Brand-Image"></a>
                                <!-- Single Brand End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Single Brand Start -->
                                <a class="brand-after" href="#"><img src="images/brand/4.png" alt="Brand-Image"></a>
                                <a class="brand-before" href="#"><img src="images/brand/4-1.png" alt="Brand-Image"></a>
                                <!-- Single Brand End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Single Brand Start -->
                                <a class="brand-after" href="#"><img src="images/brand/5.png" alt="Brand-Image"></a>
                                <a class="brand-before" href="#"><img src="images/brand/5-1.png" alt="Brand-Image"></a>
                                <!-- Single Brand End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape shape-1">
            <img src="images/shape/shape-15.png" alt="Shape">
        </div>
        <div class="shape shape-2">
            <img src="images/shape/shape-16.png" alt="Shape">
        </div>
        <div class="shape shape-3">
            <img src="images/shape/shape-2.png" alt="Shape">
        </div>
    </div>
    <!-- Brand Section End --> 
    
{% endblock content %}


    