{% extends 'layouts/base.html' %}



{% block content %}
        <!-- Breadcrumb Section Start -->
        <div class="section-padding breadcrumb" data-bg-image="images/breadcrumb/breadcrumb-1.png">
            <div class="container">
                <div class="row">
                    <div class="col-12 align-items-center text-center">
                        <!-- Breadcrumb Wrapper Start -->
                        <div class="breadcrumb-wrapper">
                            <h1 class="title">Contact Us</h1>
                            <ul class="breadcrumb-list">
                                <li><a href="index.html">Home</a></li>
                                <li><span>Contact</span></li>
                            </ul>
                        </div>
                        <!-- Breadcrumb Wrapper End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section End -->
    
        <!-- Contact Us Section Start -->
        <div class="contact-us section-margin">
            <div class="container position-relative">
                <div class="row">
                    <!-- Heading Start -->
                    <div class="heading-one text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                        <span class="heading-one-subtitle">Contactez-nous</span>
                        <h2 class="heading-one-title">N'exitez pas à poser des questions</h2>
                    </div>
                    <!-- Heading End -->
                </div>
                <div class="row mb-n30">
                    <div class="col-md-6 mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                        <div class="contact-head">
                            <p class="text">LOBI est un programme d'investisement et de guarantie de l'avenir de la jeunesse Congolaise.</p>
                        </div>
                        <!-- Contact Information Start -->
                        <ul class="contact-info">
                            <li>
                                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                <div class="contact-info-content">
                                    <h3 class="title">Address</h3>
                                    <span class="text">C/Kinshasa, Av/rwakading, 166.Ref/enface du camp lufungula,
                                        <br> (à côté de la station formula). Bâtiment ex Molière</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="contact-info-content">
                                    <h3 class="title">Phone</h3>
                                    <span class="text"><a href="tel:+243850519990">+243 850 519 990</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="contact-info-content">
                                    <h3 class="title">Phone 2</h3>
                                    <span class="text"><a href="tel:+243992850512">+243 992 850 512</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fas fa-envelope"></i></div>
                                <div class="contact-info-content">
                                    <h3 class="title">Email</h3>
                                    <span class="text"><a href="mailto:contact@lobi-es.com">contact@lobi-es.com</a></span>
                                </div>
                            </li>
                        </ul>
                        <!-- Contact Information End -->
                    </div>
    
                    <div class="col-md-6 mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <form id="contact-form" class="contact-form" action="">
                            <div class="row">
                                <div class="col-lg-6 mb-3">
                                    <input placeholder="Votre nom" name="name">
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <input type="email" placeholder="Votre email" name="email">
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <input placeholder="Votre phone" name="phone">
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <input placeholder="Subject" name="subject">
                                </div>
                                <div class="col-12 mb-3">
                                    <textarea name="message" placeholder="Écrivez votre message ici"></textarea>
                                </div>
                                <div class="col-12 text-left">
                                    <button class="btn btn-style-one" type="submit"> <span>Soumettre</span> </button>
                                </div>
                                <div class="col-12">
                                    <!--== Message Notification ==-->
                                    <div class="form-message mt-4"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Us Section End -->
    
        <!-- Contact Map Section Start -->
        <div class="section-margin-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-map-section wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                            <!-- Google Map Area Start -->
                            <div class="google-map-area w-100">
                                <div class="icon">
                                    <img src="images/contact/map-icon.png" alt="Map-Icon">
                                </div>
                                <div class="map-inner" style="width: 100%">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.65738186550155!2d15.30325224101758!3d-4.313272466414094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a6a33faeadf63a5%3A0xd876891fe61423e8!2s5331%20Av.%20De%20La%20D%C3%A9mocratie%2C%20Kinshasa!5e0!3m2!1sfr!2scd!4v1717338269382!5m2!1sfr!2scd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <!-- Google Map Area Start -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Map Section End -->
{% endblock content %}
    